* {
  margin: 0;
  padding: 0;
}
body #wrapper {
  width: 1000px;
  height: 1182px;
  margin: 0 auto;
  background-color: #1f1f1f;
}
body #wrapper #perso {
  position: absolute;
  left: 50%;
  bottom: 0;
  border: 1px solid #fed72c;
  width: 50px;
  height: 140px;
}
body #wrapper .marche {
  position: absolute;
  background-color: #005aff;
  width: 200px;
  height: 20px;
}
body #c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
