* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
}
html body #wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url('../img/background-body.jpg');
}
html body #wrapper #overlay {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url('../img/background-overlay.png');
}
html body #wrapper #score {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}
html body #wrapper #perso {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 140px;
  background-image: url('../img/perso.png');
  background-size: cover;
  background-position-x: 50%;
}
html body #wrapper #first-step {
  position: absolute;
  bottom: 0;
  left: 49%;
  background-color: #fff;
  width: 100px;
  height: 20px;
}
html body #wrapper #first-step #drapeau {
  width: 150px;
  height: 250px;
  background: url('../img/drapeau.png') no-repeat;
  position: absolute;
  bottom: 13px;
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
}
html body #wrapper .step {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 150px;
  height: 20px;
}
html body #c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
